* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  h1 {
    width: 100%;
    margin: 40px 0 40px 0;
    text-align: center;
  }

  .table {
    width: 90%;
    margin: auto;

    table,
    #download-add-flex {
      width: 90%;
      margin: auto;
    }

    table,
    tr,
    th,
    td {
      padding: 5px;
    }

    table,
    tr,
    th {
      border: 1px solid black;
      border-collapse: collapse;
    }

    table {
      .row-data:hover {
        background: #e8e8e8;
      }
      tr {
        th {
          background: #2e2e2e;
          color: #fff;
          font-weight: bolder;
        }

        th,
        td {
          text-align: center;
        }
      }

      tr td {
        a {
          text-decoration: none;
          padding: 2% 6px 2% 6px;
          color: #fff;
          border-radius: 5px;
        }

        .update {
          background: #c2b330;
        }
        .update:hover {
          background: #d1c76b;
        }
        .delete {
          background: #ba202d;
        }
        .delete:hover {
          background: #bf565f;
        }
      }
    }
  }
  #download-add-flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 2%;
    padding: 10px 0 10px 0;

    a {
      text-decoration: none;
      padding: 10px 15px 10px 15px;
      color: #fff;
      border-radius: 5px;
    }

    #download-csv {
      background: #274edb;
    }

    #add-item {
      background: #0c992b;
    }
  }
  .footer {
    width: 100%;
    margin: auto;

    color: #fff;
    background: #000;
    text-align: center;

    footer {
      margin: 50px 0 0 0;
      padding: 80px 0 80px 0;
      background: #1c1c1c;
    }
  }
}
