{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Mochiy+Pop+One&family=Red+Hat+Mono&family=Roboto:wght@300&family=Source+Sans+Pro:ital@1&family=Ubuntu:wght@300&display=swap" rel="stylesheet">
    <title>CRUD Database</title>
</head>
<body>
    <h1>CRUD Database</h1>
    <div class="table">
        <table>
            <tr>
                <th>ID</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Location</th>
                <th>University</th>
                <th>Action one</th>
                <th>Action two</th>
            </tr>
            {% for data in alldata %}
            <tr class="row-data">
                <td>{{ data.id }}</td>
                <td>{{ data.first_name }}</td>
                <td>{{ data.last_name }}</td>
                <td>{{ data.email }}</td>
                <td>{{ data.phone }}</td>
                <td>{{ data.location }}</td>
                <td>{{ data.university }}</td>
                <td><a href="#" class="update">Update</a></td>
                <td><a href="#" class="delete">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
        <div id="download-add-flex">
            <a id="download-csv" href="#">Download CSV</a>    
            <a id="add-item" href="#">Add Item</a>
        </div>
    </div>
</body>
</html>